{% extends "base.html" %}
{% block title %}My amazing blog{% endblock %}
{% block content %}
{% for vistuplenia in vistuplenia %}
    {# Each "vistuplenia" is a vistuplenia model object. #}
    <p>{{ vistuplenia.name|upper }}</p>
<p>{{ vistuplenia.topic|safe}}</p>
<p>{{ vistuplenia.description|safe }}</p>
<p>{{ vistuplenia.date }}</p>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if vistuplenia.has_previous %}
            <a href="?page={{ vistuplenia.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ vistuplenia.number }} of {{ vistuplenia.paginator.num_pages }}.
        </span>

        {% if vistuplenia.has_next %}
            <a href="?page={{ vistuplenia.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}
