{% extends "base.html" %}
{% block title %}My amazing blog{% endblock %}
{% block content %}
<div class=main>
<div class="page-header">
<h2>Внесите необходимые <small>ИЗМЕНЕНИЯ</small></h2>
</div>
<form action="." method="post" enctype="multipart/form-data">
{% csrf_token %}
<div class="form-group">
{{ form.as_p }}
</div>
<button type="submit" class="btn btn-success">Отправить заявку</button>
</form>
</div>
{% endblock %}