<p>{{ spikers_item.fio  }}</p>
<p>{{ spikers_item.topic }}</p>
<p>{{ spikers_item.description }}</p>
<p>{{ spikers_item.date }}</p>

<a href="{{ spikers_item.get_absolute_url }}">{{ spikers_item.id }} Изменение через get_absolute_url</a>
<a href="{% url 'change' spikers_item.id %}">{{ spikers_item.id }}Изменить</a>
<a href="{% url 'delete' spikers_item.id %}">{{ spikers_item.id }}Удалить</a>