<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ru-RU">
<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{% block title %}My amazing site{% endblock %}</title>
<link rel="stylesheet" href="style.css" type="text/css" />
</head>
	<body>
		<ul id="navigator">
				<li><a href="..\">Главная</a>
				<li><a href="..\spikers\">Спикеры</a>
				<li><a href="..\vistuplenia\">Выступления</a>
				<li><a href="..\organizatori\">Организаторы</a>
				<li><a href="..\partneri\">Партнеры</a>
				<li><a href="..\kontakti\">Контакты</a>
				<li><a href="..\news\">Новости</a>
			</ul>
		<div class = telo>
		<p>Mistake 500</p>
		</div>
	</body>
</html>
